@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");

body {
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.027);
}

nav {
  font-family: "Josefin Sans", sans-serif;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  /* width: 80%; */
  font-size: 34px;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style-type: none;
  overflow: hidden;
  display: inline;
}
nav a {
  font-weight: 800;
  color: rgb(255, 255, 255);
  letter-spacing: 6px;
  display: block;
  text-align: center;
  text-decoration: none;
  line-height: 45px;
  /* text-decoration: underline; */
}
nav a:hover {
  color: rgb(255, 66, 8);
}
.active {
  color: rgb(255, 66, 8);
}

.hero {
  height: 100%;
  width: 100%;
  /* background */
  background-image: linear-gradient(
      45deg,
      rgba(26, 23, 21, 0.8),
      rgba(33, 16, 1, 0.728) 40%
    ),
    url("../img/hero.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  filter: grayscale(80%);
}

.intro {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Staatliches", cursive;
  font-size: 80px;
  position: absolute;
  width: 400px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

#trenton {
  letter-spacing: 7px;
  line-height: 75px;
  color: rgb(255, 66, 8);
  z-index: 3;
}

#cornwall {
  letter-spacing: 8px;
  line-height: 40px;
  color: rgb(255, 132, 0);
}

#prof {
  font-family: "Josefin Sans", sans-serif;
  font-size: 45px;
  line-height: 80px;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.995);
}

.subSplash {
  height: 35%;
  width: 100%;
  background-image: linear-gradient(
      45deg,
      rgba(26, 23, 21, 0.8),
      rgba(33, 16, 1, 0.728) 40%
    ),
    url("../img/hero.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  filter: grayscale(80%);
}

main::before {
  content: "";
  position: absolute;
  background-color: rgb(255, 66, 8);
  width: 100%;
  height: 6px;
  top: 35%;
  z-index: 4;
}
.subIntro {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Staatliches", cursive;
  font-size: 60px;
  position: absolute;
  width: 400px;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
main {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px auto 20px;
}
.textblock {
  padding: 0 10px 0 10px;
  line-height: 1.6;
  font-size: 18px;
  max-width: 950px;
  border-left: 3px solid rgb(255, 66, 8);
  margin-bottom: 20px;
  margin-left: 10px;
}

.resumebody {
  display: block;
  height: 100%;
  max-width: 1064px;
  position: relative;
  font-size: 18px;
  width: 100%;
}

h2 {
  letter-spacing: 4px;
  font-weight: 500;
  font-size: 30px;
  max-width: 950px;
  line-height: 22px;
  border-bottom: 3px solid rgb(255, 66, 8);
  padding-left: 15px;
}

h3 {
  font-weight: 500;
  font-size: 24px;
  padding-bottom: 4px;
}

.section {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px 0px 30px 0px;
}

.skills {
  justify-content: space-around;
}

.skillscol {
  font-weight: 300;
  line-height: 26px;
}

.job {
  margin: 25px;
}
.jobInfo {
  border-left: 1px solid rgb(255, 66, 8);
  margin-left: 10px;
  padding-left: 20px;
}
h4 {
  font-size: 18px;
  font-weight: 300;
}

h5 {
  margin: 20px 0px 5px 0;
  font-size: 18px;
  font-weight: 300;
}

p {
  font-weight: 300;
  font-size: 18px;
}
