@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,600&display=swap");

body {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.071);
}

nav {
  font-family: "Josefin Sans", sans-serif;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  /* width: 80%; */
  font-size: 34px;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style-type: none;
  overflow: hidden;
  display: inline;
}
nav a {
  font-weight: 800;
  color: rgb(255, 255, 255);
  letter-spacing: 6px;
  display: block;
  text-align: center;
  text-decoration: none;
  line-height: 45px;
  /* text-decoration: underline; */
}
nav a:hover {
  color: rgb(255, 66, 8);
}
.active {
  color: rgb(255, 66, 8);
}

.hero {
  height: 100%;
  width: 100%;
  /* background */
  background-image: linear-gradient(
      45deg,
      rgba(26, 23, 21, 0.8),
      rgba(33, 16, 1, 0.728) 40%
    ),
    url("../img/hero.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  filter: grayscale(80%);
}

.intro {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Staatliches", cursive;
  font-size: 80px;
  position: absolute;
  width: 400px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

#trenton {
  letter-spacing: 7px;
  line-height: 75px;
  color: rgb(255, 66, 8);
  z-index: 3;
}

#cornwall {
  letter-spacing: 8px;
  line-height: 40px;
  color: rgb(255, 132, 0);
}

#prof {
  font-family: "Josefin Sans", sans-serif;
  font-size: 45px;
  line-height: 80px;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.995);
}

.subSplash {
  height: 40%;
  width: 100%;
  /* background */
  background-image: linear-gradient(
      45deg,
      rgba(26, 23, 21, 0.8),
      rgba(33, 16, 1, 0.728) 40%
    ),
    url("../img/hero.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  filter: grayscale(80%);
}

.subSplash::after {
  content: "";
  position: absolute;
  background-color: rgb(255, 0, 0);
  width: 100%;
  height: 6px;
  top: 100%;
}
.subIntro {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Staatliches", cursive;
  font-size: 60px;
  position: absolute;
  width: 400px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 75px;
}
.textblock {
  padding: 0 10px 0 10px;
  line-height: 1.6;
  font-size: 18px;
  max-width: 950px;
  border-left: 3px solid tomato;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 40px;
}
